{% extends 'front_base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/contact.css') }}" data-njs>

        <section id="contact">
            <div class="image-and-bg">
                <div class="img" style="background-image: url('{{ asset('img/contact/old_man_background.png') }}')"></div>
            </div>
            <div class="form-section reveal-type">
                <h1>Organiser un atelier</h1>
                <p>Vous souhaitez accueillir un cycle d’atelier radio sur-mesure dans votre établissement afin de créer du lien social et de valoriser la parole de votre public ? Contactez-nous pour imaginer ensemble le projet qui vous convient !</p>

                <form method="POST">
                    <div class='field required'>
                        <input class='text-input' id='name' name='name' required type='text' placeholder="Nom complet">
                    </div>
                    <div class='field required'>
                        <input class='text-input' id='email' name='email' required type='text' placeholder="Email">
                    </div>
                    <div class='field required'>
                        <textarea class='textarea' cols='50' id='message' name='message' rows='4' placeholder="Votre message"></textarea>
                    </div>
                    <input type="submit" value="Envoyer" class="main-btn">
                </form>
            </div>
        </section>

        <script data-njs>
            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {
                console.log('page contact loaded');
            }
        </script>

    </navigate-js>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
