{% extends 'front_base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <div id="radiobox">

            <h1 class="container">La Radiobox</h1>

            <div class="hero-banner">
                <img src="{{ asset('img/radiobox-echoes-making-waves-mobile.png') }}" alt="Photo de la radiobox" class="d-none">
            </div>

            <article class="container">
                <h2 class="rect-title reveal-type">Les projets radiophoniques d’ECHOES s’articulent autour d’une “radiobox”.</h2>
                <p class="reveal-type">A l’origine de cet outil, il y a MakingWaves, une ONG visant à promouvoir la liberté d’expression et l’accès à l’information, à l’éducation et à la culture. C’est dans cette démarche qu’est née la radiobox : un studio radio compact et simplifié. Pensée pour être emmenée partout et pour être maniée sans besoin de connaissance technique, elle permet d’offrir des espaces de dialogue et d’expression à des populations en difficulté, exclues ou sous-représentées. </p>
                <div class="image-and-text">
                    <img src="{{ asset('img/workshop/association-echoes-radiobox-1.JPG') }}" alt="photo d'un atelier avec la radiobox en premier plan" class="reveal-type">
                    <div class="text reveal-type">
                        <h3 class="fw-bold text-uppercase josefin text-primary">Les mots de making waves</h3>
                        <p>« Destinée à tous les publics et en particulier les plus fragilisés et les plus précaires, la radiobox peut être installée partout où la création d’une radio peut jouer un rôle social, thérapeutique, éducatif, culturel ou conciliateur. La création d’une radio dans un contexte d’exclusion ou de crise permet à des homme ou des femmes, à un groupe ou à une communauté, de participer à un projet dynamique, innovant et fédérateur. Une radio génère des possibilités de rencontres et d’interactions, offre la possibilité de discussions construites et apaisées, encourage l’écoute et la mise en commun de savoirs et de connaissance. Elle incite à la structuration de projets collectifs, permet la valorisation de compétences et l’autonomisation. Par son ludisme et sa convivialité, elle instaure des modes d’apprentissage et de partage effectifs et atypiques. En créant du lien social là où il peut faire défaut, la radio devient ainsi un outil de médiation réparateur et responsabilisant. »</p>
                    </div>
                </div>

                <a href="https://mkwaves.org/" target="_blank" class="making-waves-link"><i class="icon-next"></i> Visiter le site de Making Waves</a>
            </article>
        </div>

    </navigate-js>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
